# Docker Database Credentials
POSTGRES_PASSWORD=password
POSTGRES_USER=postgres
POSTGRES_DB=database
MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_ROOT_PASSWORD=password
GLIBC_TUNABLES=glibc.pthread.rseq=1

# Backend Application Config
POSTGRES_URL=postgresql://postgres:password@localhost:6011/database
MONGO_URL=mongodb://mongo:password@localhost:6021/
PORT=3000
BASE_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173
JWT_SECRET=some-secret
REVIEW_SERVICE_URL=http://localhost:3004

# Frontend Config
VITE_API_URL=http://localhost:3000/api
