# Dependencies
node_modules/
/backend/prisma/generated/
/backend/images

# Build outputs
build/
dist/
dist-ss/
db-data/
coverage/

# Environment files
*.env*
!.env*.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local config
*.local
.vscode/*
!.vscode/extensions.json
.idea/

# OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# direnv
.direnv
