POSTGRES_URL=postgresql://testpostgres:testpassword@postgresql_test:5432/testdatabase
MONGO_URL=mongodb://testmongo:testpassword@mongo_test:27017/
PORT=3000
BASE_URL=http://localhost:3000
JWT_SECRET=some-testing-secret
