POSTGRES_URL=postgresql://postgres:password@localhost:6011/database
MONGO_URL=mongodb://mongo:password@localhost:6021/
PORT=3000
BASE_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173
JWT_SECRET=some-secret
